.wallet-connect-light-theme {
    --wallet-connect-background-color: #fafafa;
    --wallet-connect-primaryColor: #000000;
    --wallet-connect-border-color: #bbbbbb;

    --wallet-connect-button-background-color: #ffffff;
    --wallet-connect-icon-filter: invert(1) hue-rotate(180deg) !important;
}

.wallet-connect-dark-theme {
    --wallet-connect-background-color: #1e1e1e;
    --wallet-connect-primaryColor: #ffffff;
    --wallet-connect-border-color: #333333;

    --wallet-connect-button-background-color: #2a2a2a;
    --wallet-connect-icon-filter: unset;
}

.wallet-connect-moto-theme {
    --wallet-connect-background-color: #171239;
    --wallet-connect-primaryColor: #9698e2;
    --wallet-connect-border-color: #201b4e;

    --wallet-connect-button-background-color: #140932;
    --wallet-connect-icon-filter: unset;
}
